<div class="col-lg-4">
  <div class="item listing-item">
    <div class="item-inner">
      <div class="image"><img src="{{{photo}}}" alt="{{{name}}}" class="img-fluid"></div>
      <div class="info d-flex align-items-end justify-content-between">
        <div><a href="#" class="badge-transparent">{{{badge}}}</a>
          <h3><a href="place.html?name={{{name}}}"> {{{name}}}</a></h3>
          <p class="address">{{{address}}}</p>
        </div>
      </div>
    </div>
    <div class="description">
      <p>{{{description}}}</p>
    </div>
  </div>
</div>